* {

    margin: 0;
    padding: 0;
    box-sizing:border-box
}

body {
    font-family: 'Arial';
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

aside {
    width: 300px;
    height: 100vh;
    position: fixed;
    border-right: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.asideHeader {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.addMore {
    padding: 20px;
}

.logo {
    width: 100px;
    margin: 16px 0;
}

.asideNavbar {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 30px;   
}

.asideNavbar a {
    transition: .2s;
}

.asideNavbar li {
    padding: 10px;
    position: relative;
    transition: .5s;
}

.asideNavbar li:hover {
    cursor: pointer;
}


.asideNavbar li:hover::before {
    content: "";
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    background-color: #8e8e8e;
    z-index: -1;
    border-radius: 10px;
    opacity: .5;
}

.asideNavbar li i {
    padding-right: 10px;
}

.asideBottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.logo2 {
    display: none;
}

.bottomNav {
    display: none;
}

@media (max-width:1270px) {
    aside {
        width: 60px;
    }
    .asideNavbar li {
       padding: 0;

    }
    .asideNavbar li a {
        display: none;
    }
    .logo {
        display: none;
    }
    .logo2 {
        display: block;
        width: 18px;
        margin: 18px 0;
    }

    .asideNavbar i {
        font-size: 20px;
    }
}

@media (max-width:800px) { 
    aside {
        display: none;
    }

    .bottomNav {
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 60px;
        border-top: 1px solid gray;
        margin: auto;
        padding: 16px;
        font-size: 18px;
    }

}

