* {

    margin: 0;
    padding: 0;
    box-sizing:border-box
}

body {
    font-family: 'Arial';
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

aside {
    width: 300px;
    height: 100vh;
    position: fixed;
    border-right: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.asideHeader {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.addMore {
    padding: 20px;
}

.logo {
    width: 100px;
    margin: 16px 0;
}

.link {
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 11px 0;
}

.link i {
    margin-right: 12px;
}

.logo2 {
    display: none;
}

.bottomNav {
    display: none;
}

@media (max-width:1270px) {
    aside {
        width: 60px;
    }
    .asideHeader .link a {
        display: none;
    }
    .logo {
        display: none;
    }
    .logo2 {
        display: block;
        width: 18px;
        margin: 18px 0;
    }
    .addMore {
        display: flex;
        justify-content: center;
    }

    .addMore a {
        display: none;
    }

    .asideHeader i {
        font-size: 20px;
    }

}

@media (max-width:800px) { 
    aside {
        display: none;
    }

    .bottomNav {
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 60px;
        border-top: 1px solid gray;
        margin: auto;
        padding: 16px;
        font-size: 18px;
    }

}

