* {
    margin: 0;
    padding: 0;
}

body {

    font-size: 16px;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 60px 1fr 60px;
}

header, footer, aside, nav, main {

    background-color: red;
    border: 1px solid black;
    padding: 20px;
}

header, footer {

    grid-column: 1 / span 3;
}