* {
    margin: 0;
    padding: 0;
}

body {

    font-size: 16px;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 60px 1fr 60px;
    grid-template-areas: "header header header"
                         "nav main aside"
                         "footer footer footer"
    ;
}

header, footer, aside, nav, main {

    background-color: red;
    border: 1px solid black;
    padding: 20px;
}

header {
    grid-area: header;
}
footer {
    grid-area: footer;
}
nav {
    grid-area: nav;
}
main {
    grid-area: main;
}
aside {
    grid-area: aside;
}

@media (max-width: 800px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 80px 60px 1fr 60px 80px;
        grid-template-areas: "header" "nav" "main" "aside" "footer";

    }
}